.rwt__tab[aria-selected=false] {
  cursor: pointer;
}

.rwt__tab {
  display: none;
}

.my-tabs {
  display: none;
}

.close.icon {
  transform: translate3d(100%, 0, 0);
  font-size: 15px;
  cursor: pointer;
  z-index: 512;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]::after {
  border-bottom: 3px solid black;
}